<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606963147186-q4tb58svuadkk8dahi88a58hpetqss8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606963147186-q4tb58svuadkk8dahi88a58hpetqss8e</string>
	<key>API_KEY</key>
	<string>AIzaSyClz3TW_d8elzxNzCqWjFTb4hUkKHcAYUA</string>
	<key>GCM_SENDER_ID</key>
	<string>606963147186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storeApp</string>
	<key>PROJECT_ID</key>
	<string>store-app-936ef</string>
	<key>STORAGE_BUCKET</key>
	<string>store-app-936ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606963147186:ios:753334daf10ed2e2cd84ab</string>
</dict>
</plist>